<div class="white-bg view-container flex-body">
    <main-header></main-header>
    <div class="content">
        <!-- EvalAI into -->
        <div class="grad-container">
            <div class="row">
                <div class="col s12 m8 l8">
                    <div class="grad-head">
                        <h3 class="text-dark-black"><strong></strong>Hackaton</strong></h3>
                        <h4 class="text-dark-black"><strong></strong>CA17137 - g2net</strong></h4>
                        <h5 class="text-dark-gray">A network for Gravitational Waves, Geophysics and Machine Learning</h5>
                        <p class="text-med-black fs-18 w-300">Sign up to participate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <landing-footer></landing-footer>
</div>
